/* Monica Sanchez 5-1-25 */

html {
  background: url('design.jpg') cover;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  
}

.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  background-color: #191b1c;
  border-radius: 0.2rem;
  line-height: 2.6;
  white-space: pre-line; /* Important in order to properly render \n as the line breaks */
}

#calculate {
    display: inline-block;
    padding: 0.4em 1em;
    color: white;
    background-color:#20c997;
    border-radius: 0.2em;
    text-decoration: none;
    font-size: 1rem;
    outline: 0;
}
