/* Monica Sanchez 5-3-25 */

html {
  --light-purple: #C580F2;
  --pale-orange: #C580F2;
  --dark-orange: #F26022;
  --white: #fff;
  --charcoal: #333;
  color: var(--text-color);
  background: url('./design.jpg'); /* photo credits: https://unsplash.com/photos/a-black-background-with-orange-and-purple-circles-DnZiR361K6Y */
  background-size: cover;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: var(--white);
  text-align: center;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem; /* 20px */
  flex-wrap: wrap;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

labe, input, button {
  font-size: 1rem;
  margin: 0.5rem;
}

input[type="number"] {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  width: 200px;
  max-width: 80%;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(135deg, var(--light-purple) , var(--pale-orange), var(--dark-orange));
  bavkground-size: 200% auto; /* animation effect */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-position 0.4s ease, transform 0.2s ease;
  text-align: center;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: var(--white);
}

button:hover {
  background-position: right center; 
  transform: scale(1.05);
}

.box {
  flex: 1 1 250px;
  min-width: 200px;
  padding: 1rem;
  background-color: var(--charcoal);
  border-radius: 0.2rem;
  line-height: 2.6;
  white-space: pre-line; /* Important in order to properly render \n as the line breaks */
}


        /* .btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            
            
            background-size: 200% auto;
            color: white;            
            
            border-radius: 10px;
            display: block;
          } */

          
         
